     .container {
         max-width: 800px;
         margin: 0 auto;
         padding: 30px;
      }

      .juice-types {
         display: flex;
         flex-wrap: wrap;
      }

      .juice-card {
         width: 200px;
         border: 3px solid #ccc;
         border-radius: 7px;
         margin: 20px;
         padding: 10px;
      }

      .juice-details-container {
         max-width: 800px;
         margin: 0 auto;
         padding: 20px;
      }
      
      .customer-details-container {
         max-width: 800px;
         margin: 0 auto;
         padding: 20px;
      }   

      .purchase-container {
         max-width: 800px;
         margin: 0 auto;
         padding: 20px;
      }

      .payment-container {
         max-width: 800px;
         margin: 0 auto;
         padding: 20px;
      }

      .home-container {
         max-width: 800px;
         margin: 0 auto;
         padding: 20px;
      }
   